<!DOCTYPE html>
<html>
    <head>
        <title>Pool</title>
    </head>

    <body>
        <form action="">
                <input type="text" name="" id="" placeholder="PoolName">
                <button>Search</button>
            </form>

        
        <p id="msg1"></p>
        <p id="msg2"></p>

        <script src="js/app.js"></script>
    </body>
</html>